services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: MarketDB_Container
    ports:
      - "1433:1433"
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=${MSSQL_SA_PASSWORD}
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql # Opcional: para ejecutar scripts al iniciar